/test
/todo
/*.ps1
/.prettierignore
$null
/.cline/
/.kilo/
INTEGRATION_PLAN.md
aliases.html
firebase-debug.log
node_modules/

/core/target

/completions/.*

/module/PSCompletions/bin
/module/PSCompletions/data
/module/PSCompletions/data.json
/module/PSCompletions/temp
/module/PSCompletions/completions
